---
layout: default
---
<a class="project-back" href="/projects"><< Return to Projects</a>

<h1 class="title-minimal-margin">{{ data.title }}</h1>

{% if data.type == "gba" %}
  <div class="project-embed">{% render "gba", rom: \"{{ data.id }}\", url: \"{{ site.url }}\", scale: 2 %}</div>
{%  elsif data.type == "game" %}
  <div class="project-embed">{% render "game", id: \"{{ data.id }}\", url: \"{{ site.url }}\", width: \"{{ data.width }}\", height: \"{{ data.height }}\" %}</div>
{% elsif data.screenshots %}
  {% render "carousel", width: \"{{ data.screenshot-width }}\", height: \"{{ data.screenshot-height }}\", id: \"{{ data.id }}\", count: \"{{ data.screenshots }}\" %}
{% else %}
  <img class="project-banner" src="/images/projects/{{ data.id }}_banner.png" />
{% endif %}

<div class="project-tags">
    {% for tag in data.tags %}
        <a href="../../{{ tag }}"><div class="project-tag">{{ tag }}</div></a>
    {% endfor %}
</div>
<div class="project-blurb">{{ data.blurb }}</div>

<br/>

<div class="project-links">
  {% for link in data.links %}
    <a class="project-link" href="{{link.link}}">{{ link.text }}</a>
  {% endfor %}
</div>

{{ content }}