<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% if format %}
    {% assign small-extension='.' | append: \'{{ format }}\' %}
    {% assign extension='.' | append: \'{{ format }}\' %}
{% else %}
    {% assign small-extension='-small.jpg' %}
    {% assign extension='.png' %}
{%endif%}

<div class="carousel" style="height:{{ height }}px">

    {% assign range = (1..count) %}
    {% for i in range %}
        <div class="carousel-cell" style="width:{{ width }}px;height:{{ height }}px">
            <a href="/images/projects/{{ id }}/screenshot-{{ i }}{{ extension }}">
                <img class="carousel-image" src="/images/projects/{{ id }}/screenshot-{{ i }}{{ small-extension }}" />
            </a>
        </div>
    {% endfor %}
</div>